* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: transparent !important;
    outline: none;
}
body {
    overflow: hidden;
    padding: 0px; margin: 0px;
    font-family: 'Segoe UI';
    color: #000;
    -ms-overflow-style: none;
    -ms-content-zooming: none;
    -ms-scroll-translation: vertical-to-horizontal;
    -ms-scroll-chaining: none;
    -ms-user-select: none;
    user-select: none;

    /* Modules */
    @import 'partials/button';
}