<link href="views/account/style.css" rel="stylesheet" />

<main id="views">
    <!-- Sign Up View -->
    <section id="SingUpView" class="view">
        <header>
            <div class="header">Sing Up</div>
        </header>
    </section>

    <!-- Select View -->
    <section id="SelectView" class="view">
        <div class="logo"><img src="img/logo.png"/></div>
        <div class="header">SwiftSnapper</div>

        <nav>
            <div id="LogInBtn" class="button">Log In</div>
            <div id="SignUpBtn" class="button">Sign Up</div>
        </nav>
    </section>

    <!-- Log In View -->
    <section id="LogInView" class="view">
        <header>
            <div class="header">Log In</div>
        </header>
        <form id="LogInForm">
            <input class="username" type="text" placeholder="username"/>
            <input class="password" type="password" placeholder="password">
            <input type="submit" value="Log In"/>
        </form>
    </section>
</main>

<script>
    swiftsnapper.onAccountView();
</script>