#SelectView {
    overflow: hidden;
    background: #3498DB;
}
#SelectView .logo {
    width: 50%;
    max-width: 300px;
    margin: auto;
}
#SelectView .header {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    font-family: 'Segoe UI';
    font-weight: 100;
}
#SelectView nav {
    position: absolute;
    right: 0; bottom: 0; left: 0;
}
#SelectView .button {
    width: 100%;
    height: 80px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Segoe UI';
    font-weight: 600;
}
#SelectView #LogInBtn {
    background: #2980b9;
}
#SelectView #SignUpBtn {
    background: #3498db;
}

#LogInView input{
    width: calc(100% - 33px);
    margin: 5px 10px;
}
#LogInView label {
    margin: 5px 10px 0 10px;
}
#LogInView input[type=submit] {
    width: auto;
}