<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="Content-Security-Policy" content="default-src * 'self' blob: 'unsafe-eval' 'unsafe-inline'; style-src * 'self' 'unsafe-inline'; script-src * 'self' 'unsafe-inline' 'unsafe-eval'; font-src *; media-src * 'self' blob:; img-src * 'self' data: blob:" />
        <title>Account | SwiftSnapper</title>

        <link href="../../css/mdl2.css" rel="stylesheet" />
        <link href="../../css/owl.carousel.css" rel="stylesheet" />
        <link href="../../css/style.css" rel="stylesheet" />
        <link href="style.css" rel="stylesheet" />
    </head>
    <body>
        <main id="views">
            <!-- Splash View -->
            <section id="SplashView" class="view">
                <div class="logo"><img src="../../img/logo.png"/></div>
                <div class="header">SwiftSnapper</div>
            </section>
        </main>

        <script src="../../cordova.js"></script>
        <script src="../../scripts/jquery-2.1.4.min.js"></script>
        <script>
            //TODO
            window.location.href = '../account/index.html';
        </script>
    </body>
</html>