#SplashView {
    overflow: hidden;
    background: #FFD62F;
}
#SplashView .logo img{
    display: block;
    width: 50%;
    max-width: 300px;
    margin: auto;
}
#SplashView .header {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    font-family: 'Segoe UI';
    font-weight: 100;
}