#SplashView {
    overflow: hidden;
    background: #3498DB;
}
#SplashView .logo img{
    display: block;
    width: 50%;
    max-width: 300px;
    margin: auto;
}
#SplashView .header {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    font-family: 'Segoe UI';
    font-weight: 100;
}
#SplashView .copyright {
    position: absolute;
    bottom: 5px; left: 5px;
    color: #fff;
    font-size: 18px;
    font-family: 'Segoe UI';
    font-weight: 100;
}