/* Snaps View */
#SnapsView article .icon{
    color: #000;
}
.SnapsList {
    width: 100%;
    min-height: calc(100% - 60px);
}
.SnapsList .item {
    width: 100%;
    height: 70px;
}
.SnapsList .item .notify {
    float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.SnapsList .item .details {
    float: left;
    width: auto;
    padding: 10px 0;
}
.SnapsList .item .details .header {
    padding: 0; margin: 0;
    font-size: 22px;
    line-height: 30px;
}
.SnapsList .item .details .details {
    padding: 0; margin: 0;
    font-size: 15px;
    line-height: 15px;
}

#SnapsView .SnapsList .video .icon {
    color: #8e44ad;
}
#SnapsView .SnapsList .snap .icon {
    color: #e74c3c;
}

/* Camera View */
#CameraView {
    background: #000;
}
#CameraView header {
    background: none;
}
body.mobile #CameraPreview header {
    padding-top: 0 !important;
}
#CameraView header nav {
    float: none;
}
#CameraView .CameraPreview {
    z-index: 10;
}
#CameraView .CameraPreview #CameraPreview {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
#CameraView .CameraPreview #CameraPreview.FrontFacing{
    transform: scale(-1, 1);
}
#CameraView .CameraOverlay {
    z-index: 50;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
}
#CameraView #ShutterBtn {
    position: absolute;
    bottom: 25px; left: 40%;
    width: 20%;
}

/* Stories View */
#ShowSnapView {
    display: none;
    z-index: 100000;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%; height: 100%;
    background: #000;
}
#ShowSnapView img {
    display: block;
    height: 100%;
    margin: 0 auto;
}
#ShowSnapView .Counter {
    display: none;
}