<?xml version='1.0' encoding='utf-8'?>
<Package IgnorableNamespaces="uap mp" xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10">
    <Identity Name="com.filfat.swiftsnapper" Publisher="CN=$username$" Version="1.0.0.0" />
    <mp:PhoneIdentity PhoneProductId="b9da5070-b4b9-11e5-84c5-75c7076549f4" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
    <Properties>
        <DisplayName>SwiftSnapper</DisplayName>
        <PublisherDisplayName>Filiph Sandström and Contributors</PublisherDisplayName>
        <Logo>images\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily MaxVersionTested="10.0.10240.0" MinVersion="10.0.10240.0" Name="Windows.Universal" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate" />
    </Resources>
    <Applications>
        <Application Id="com.filfat.swiftsnapper" StartPage="ms-appx-web:///www/index.html">
            <Extensions>
                <uap:Extension Category="windows.protocol">
                    <uap:Protocol Name="snapchat" DesiredView="useMore">
                        <uap:DisplayName>SwiftSnapper</uap:DisplayName>
                        <uap:Logo>images\logo.png</uap:Logo>
                    </uap:Protocol>
                </uap:Extension>
            </Extensions>
            <uap:VisualElements BackgroundColor="#3498DB" Description="CordovaApp" DisplayName="SwiftSnapper" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
                <uap:SplashScreen Image="images\splashscreen.png" />
                <uap:DefaultTile ShortName="SwiftSnapper" Square310x310Logo="images\Square310x310Logo.png" Square71x71Logo="images\Square71x71Logo.png" Wide310x150Logo="images\Wide310x150Logo.png" />
                <uap:InitialRotationPreference>
                    <uap:Rotation Preference="portrait" />
                    <uap:Rotation Preference="landscape" />
                    <uap:Rotation Preference="landscapeFlipped" />
                </uap:InitialRotationPreference>
            </uap:VisualElements>
            <uap:ApplicationContentUriRules>
                <uap:Rule Match="ms-appx-web:///" Type="include" WindowsRuntimeAccess="all" />
            </uap:ApplicationContentUriRules>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
        <DeviceCapability Name="webcam" />
    </Capabilities>
</Package>